#cross.singPadding.quinDecSpacing.contentMain
    .header.opaque.singSpacing=titleCrossSell
    a(href=crossLink1, style="display:inline-block; min-width:50%")
        #img-Cross1.crossFoto.bgTertiary.singRound(style="min-width:100%")
            #crossFotoRatio(style="display:inline-block")
        span.txtPrimary.singPadding.opaque=crossSellText[0]
    a(href=crossLink2, style="display:inline-block; min-width:50%")
        #img-Cross2.crossFoto.bgTertiary.singRound(style="min-width:100%")
            #crossFotoRatio(style="display:inline-block")
        span.txtPrimary.singPadding.opaque=crossSellText[1]